@import url(../variables.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}

::selection {
  background-color: var(--main);
  color: var(--clcl);
  transition: 1s ease;
}

.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px var(--main);
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 10px;
}

.information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(15px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.info-childs {
  width: 100%;
  padding: 0 30px;
}

.info-childs h2 {
  font-size: 2.5rem;
  color: var(--main);
}

.info-childs p {
  margin: 50px 0;
  color: var(--clcl);
}

.info-childs input {
  background-color: transparent;
  outline: none;
  border: solid 2px var(--clcl);
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--clcl);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-childs input:hover {
  background-color: var(--main);
  border: none;
  color: var(--clcl);
  box-shadow: 0 2px 5px var(--dark);
}

.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: var(--cl);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  color: var(--main);
  font-size: 2rem;
}

.form-information-childs p {
  color: var(--main);
}

.icons {
  margin: 15px 0;
}

.icons i {
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: var(--main);
  border: solid thin var(--main);
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px var(--gray);
}

.icons i:hover {
  background-color: var(--main);
  color: var(--clcl);
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: var(--main);
  box-shadow: 0 2px 5px var(--gray);
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: var(--main);
  border: none;
  outline: none;
  border-radius: 20px;
  color: var(--clcl);
}

.form label i {
  color: var(--clcl);
}

.form input[type="submit"] {
  border: 2px solid var(--main);
  background-color: transparent;
  color: var(--dark);
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px var(--gray);
}

.form input[type="submit"]:hover {
  background-color: var(--main);
  color: var(--clcl);
}

.form input::placeholder {
  color: var(--clcl);
}

.regresar-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: var(--main);
  text-decoration: none;
}

.regresar-icon:hover {
  color: var(--dark);
}

.hide {
  position: absolute;
  transform: translateY(-300%);
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10000; /* Para que el video esté detrás del contenido */
}

/* RESPONSIVE FORM */

@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 15px;
  }

  .container-form {
    height: auto;
    flex-direction: column;
  }

  .information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
  }

  .form-information {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }
}
